{% extends 'base.html' %}
{% from 'bootstrap4/table.html' import render_table %}
{% from 'bootstrap4/form.html' import render_form %}


{% block content %}
{% if current_user.is_authenticated %}
<!-- 添加原材料费用到表里，用jinja渲染wtforms的类 -->
<form class="form-horizontal" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-highlight">
            <thead>
                <th>Material Name</th>
                <th>Material Specification</th>
                <th>Unit Price Per G</th>
                <th>Net Weight</th>
                <th>Gross Weight</th>
                <th>Product Qualification Rate</th>
                <th>To Calculate</th>
                <th>Submit</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form.material_name(class="form-control") }}</td>
                    <!-- form 是在你的视图 (view.py) 中传递到模板 (index.html) 的 RawMaterialCostForm 表单的实例。
                        material_name 是这个表单实例中定义的一个字段，根据你的类定义，它是一个 StringField，意味着它会被渲染成一个文本输入框。 
                        Jinja2 会调用 WTForms 的渲染方法-->
                    <td>{{ form.material_specification(class="form-control") }}</td>
                    <td>{{ form.unit_price_per_g(class="form-control") }}</td>
                    <td>{{ form.net_weight(class="form-control") }}</td>
                    <td>{{ form.gross_weight(class="form-control") }}</td>
                    <td>{{ form.product_qualification_rate(class="form-control") }}</td>
                    <td>{{ form.to_calculate(class="form-check-input", style="width: auto; margin-top: auto; margin-left: auto;") }}</td>
                    <td>{{ form.submit(class="btn btn-primary") }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
{% endif %}

<!-- 这里没有用bootstrap-flask的render_form/table是因为要呈现出期望的页面效果靠这个库无法实现 -->
<!-- {{render_form(form)}} -->
<!-- {{ render_table(raw_material_costs) }} -->

<!-- 展示原材料费用表，用jinja渲染flask-alchemy的db类 -->
<div class="table-responsive">
    <table class="table table-bordered table-striped table-highlight">
        <thead>
            <th>Material Name</th>
            <th>Material Specification</th>
            <th>Unit Price Per G</th>
            <th>Net Weight</th>
            <th>Gross Weight</th>
            <th>Product Qualification Rate</th>
            <th>To Calculate</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for raw_material_cost in raw_material_costs %}
            <tr>
                <td>{{ raw_material_cost.material_name }}</td>
                <td>{{ raw_material_cost.material_specification }}</td>
                <td>{{ raw_material_cost.unit_price_per_g }}</td>
                <td>{{ raw_material_cost.net_weight }}</td>
                <td>{{ raw_material_cost.gross_weight }}</td>
                <td>{{ raw_material_cost.product_qualification_rate }}</td>
                <td>{{ raw_material_cost.to_calculate }}</td>
                <td>
                    <a href="{{ url_for('edit_material', material_id=raw_material_cost.id) }}" class="btn btn-info">Update</a>
                    <form class="inline" style="display: inline-block;" method="post"
                        action="{{ url_for('delete_material', material_id=raw_material_cost.id, next=request.full_path) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- 
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
    {% for raw_material_cost in raw_material_costs %}
    <li>{{ raw_material_cost.material_name }} - {{ raw_material_cost.unit_price_per_g }} - {{ raw_material_cost.product_qualification_rate }}
        
    </li>
    {% endfor %}
</ul> -->


<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}

